nav.navbar.navbar-default {
  margin-bottom: 0;
}

a.navbar-brand {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5%;
}

div.header {
  background: #838383;
}

a.nav-link {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
